<div *ngIf="user">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" clrForm>
        <div class="edit-header">
            <h3>Edit User</h3>
            <a routerLink="/list" class="stack-action btn btn-sm btn-link">go back</a>
        </div>
        <div class="clr-row">
            <div class="clr-col-sm-12 clr-col-md-6">
                <clr-input-container>
                    <label class="clr-col-xs-12 clr-col-md-4">Name</label>
                    <input class="clr-col-xs-12 clr-col-md-8" type="text" formControlName="name" clrInput>
                </clr-input-container>
            </div>
            <div class="clr-col-sm-12 clr-col-md-6">
                <clr-input-container>
                    <label class="clr-col-xs-12 clr-col-md-4">User Name</label>
                    <input class="clr-col-xs-12 clr-col-md-8" type="text" formControlName="username" clrInput>
                </clr-input-container>
            </div>
            <div class="clr-col-sm-12 clr-col-md-6">
                <clr-input-container>
                    <label class="clr-col-xs-12 clr-col-md-4">Email</label>
                    <input class="clr-col-xs-12 clr-col-md-8" type="text" formControlName="email" clrInput>
                </clr-input-container>
            </div>
            <div class="clr-col-sm-12 clr-col-md-6">
                <clr-input-container>
                    <label class="clr-col-xs-12 clr-col-md-4">Phone</label>
                    <input class="clr-col-xs-12 clr-col-md-8" type="text" formControlName="phone" clrInput>
                </clr-input-container>
            </div>
            <div class="clr-col-sm-12 clr-col-md-6">
                <clr-input-container>
                    <label class="clr-col-xs-12 clr-col-md-4">Website</label>
                    <input class="clr-col-xs-12 clr-col-md-8" type="text" formControlName="website" clrInput>
                </clr-input-container>
            </div>
        </div>
        <div formGroupName="company">
            <h3>Company</h3>
            <div class="clr-row">
                <div class="clr-col-sm-12 clr-col-md-6">
                    <clr-input-container>
                        <label class="clr-col-xs-12 clr-col-md-4">Name</label>
                        <input class="clr-col-xs-12 clr-col-md-8" type="text" formControlName="name" clrInput>
                    </clr-input-container>
                </div>
                <div class="clr-col-sm-12 clr-col-md-6">
                    <clr-input-container>
                        <label class="clr-col-xs-12 clr-col-md-4">Catch Phrase</label>
                        <input class="clr-col-xs-12 clr-col-md-8" type="text" formControlName="catchPhrase" clrInput>
                    </clr-input-container>
                </div>
                <div class="clr-col-sm-12 clr-col-md-6">
                    <clr-input-container>
                        <label class="clr-col-xs-12 clr-col-md-4">BS</label>
                        <input class="clr-col-xs-12 clr-col-md-8" type="text" formControlName="bs" clrInput>
                    </clr-input-container>
                </div>
            </div>
        </div>
        <div formGroupName="address">
            <h3>Address</h3>
            <div class="clr-row">
                <div class="clr-col-sm-12 clr-col-md-6">
                    <clr-input-container>
                        <label class="clr-col-xs-12 clr-col-md-4">Street</label>
                        <input class="clr-col-xs-12 clr-col-md-8" type="text" formControlName="street" clrInput>
                    </clr-input-container>
                </div>
                <div class="clr-col-sm-12 clr-col-md-6">
                    <clr-input-container>
                        <label class="clr-col-xs-12 clr-col-md-4">City</label>
                        <input class="clr-col-xs-12 clr-col-md-8" type="text" formControlName="city" clrInput>
                    </clr-input-container>
                </div>
                <div class="clr-col-sm-12 clr-col-md-6">
                    <clr-input-container>
                        <label class="clr-col-xs-12 clr-col-md-4">Suite</label>
                        <input class="clr-col-xs-12 clr-col-md-8" type="text" formControlName="suite" clrInput>
                    </clr-input-container>
                </div>
                <div class="clr-col-sm-12 clr-col-md-6">
                    <clr-input-container>
                        <label class="clr-col-xs-12 clr-col-md-4">Zip Code</label>
                        <input class="clr-col-xs-12 clr-col-md-8" type="text" formControlName="zipcode" clrInput>
                    </clr-input-container>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!editForm.valid">Submit</button>
    </form>
</div>
<div class="spinner-wrapper" *ngIf="!user">
    <div class="spinner app-spinner"></div>
</div>