<div *ngIf="user">
    <clr-stack-view>
        <clr-stack-header>
          User Info
          <a routerLink="/list" class="stack-action btn btn-sm btn-link">go back</a>
          <a routerLink="/edit/{{user.id}}" class="stack-action btn btn-sm btn-link">edit</a>
        </clr-stack-header>

        <clr-stack-block>
            <clr-stack-label>Name</clr-stack-label>
            <clr-stack-content>{{user.name}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
            <clr-stack-label>Username</clr-stack-label>
            <clr-stack-content>{{user.username}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
            <clr-stack-label>Email</clr-stack-label>
            <clr-stack-content>{{user.email}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
            <clr-stack-label>Phone</clr-stack-label>
            <clr-stack-content>{{user.phone}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
            <clr-stack-label>Website</clr-stack-label>
            <clr-stack-content>{{user.website}}</clr-stack-content>
        </clr-stack-block>
    
        <clr-stack-block [clrSbExpanded]="true">
            <clr-stack-label>Company</clr-stack-label>
            <clr-stack-content></clr-stack-content>
            <clr-stack-block>
                <clr-stack-label>Name</clr-stack-label>
                <clr-stack-content>{{user.company.name}}</clr-stack-content>
            </clr-stack-block>
            <clr-stack-block>
                <clr-stack-label>Catch Phrase</clr-stack-label>
                <clr-stack-content>{{user.company.catchPhrase}}</clr-stack-content>
            </clr-stack-block>
            <clr-stack-block>
                <clr-stack-label>BS</clr-stack-label>
                <clr-stack-content>{{user.company.bs}}</clr-stack-content>
            </clr-stack-block>
        </clr-stack-block>
    
        <clr-stack-block [clrSbExpanded]="true">
            <clr-stack-label>Address</clr-stack-label>
            <clr-stack-content></clr-stack-content>
            <clr-stack-block>
                <clr-stack-label>City</clr-stack-label>
                <clr-stack-content>{{user.address.city}}</clr-stack-content>
            </clr-stack-block>
            <clr-stack-block>
                <clr-stack-label>Street</clr-stack-label>
                <clr-stack-content>{{user.address.street}}</clr-stack-content>
            </clr-stack-block>
            <clr-stack-block>
                <clr-stack-label>Suite</clr-stack-label>
                <clr-stack-content>{{user.address.suite}}</clr-stack-content>
            </clr-stack-block>
            <clr-stack-block>
                <clr-stack-label>Zip Code</clr-stack-label>
                <clr-stack-content>{{user.address.zipcode}}</clr-stack-content>
            </clr-stack-block>
        </clr-stack-block>
    </clr-stack-view>
</div>
<div class="spinner-wrapper" *ngIf="!user">
    <div class="spinner app-spinner"></div>
</div>


